.unique-profile-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.unique-profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.unique-profile-pic {
    width: 200px; /* Increased size */
    height: 200px; /* Increased size */
    border-radius: 50%;
    border: 2px solid #dbdbdb;
    margin-right: 50px;
}

.unique-profile-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.unique-username-group {
    display: flex;
    align-items: center;
}

.unique-username {
    font-size: 1.8rem;
    margin: 0;
    margin-right: 100px; 
}

.unique-button-group {
    display: flex;
}

.unique-message-button {
    background-color: hsl(0, 0%, 85%);
    color: hsl(0, 0%, 11%);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.unique-message-button:hover {
    background-color: hsl(0, 0%, 65%);
}

.unique-follow-button {
    background-color: hsl(0, 0%, 85%);
    color: hsl(0, 0%, 11%);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: flex; 
    align-items: center; 
}

.unique-arrow-down {
    margin-left: 10px; 
    font-size: 0.8rem; 
}


.unique-follow-button:hover {
    background-color: hsl(0, 0%, 65%);
}

.unique-nickname {
    color: gray;
    font-size: 1rem;
    margin: 5px 0 0 0; 
}

.unique-stats {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    margin-top: 30px;
    cursor: default;
}

.unique-stats span {
    padding: 0 30px;
}

@media (max-width: 600px) {
    .unique-profile-container {
        padding: 15px;
    }

    .unique-profile-pic {
        width: 100px;
        height: 100px;
    }

    .unique-message-button,
    .unique-follow-button {
        padding: 8px 12px;
        font-size: 14px;
    }
}
